.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0;
}

@media (max-width: 890px) {
  .cardsContainer {
    justify-content: center;
  }
}

.paginateContainer {
  background-color: 'red';
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.paginateContainer button {
  background-color: #48e0e8;
  width: 130px;
  padding: 10px;
  border-radius: 4px 20px;
}

.paginateContainer span {
  font-size: 30px;
}